/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, submit
	{ border:none; }
button { outline: none; }
























/* Add Styles Here */

body { overflow: hidden; }






#tenbodys { width: 100vw; height: 90vh;
	position: absolute; top: 0; left: 0;
	z-index: 2; }

.clear { width: 100vw; height: 90vh;
	position: absolute;top: 0; left: 0; 
	z-index: -1; }

#bloodbasket { width: 100vw; height: 90vh;
	position: absolute; top: 0; left: 0; z-index: -1;
	background-color: white; }
#bloodbag { width: 100vw; height: 100%; background-color: white; }







.photo { background-size: cover; background-position: 50% 50%; }
.text { background-color: white; }

.shop { 
	font-family: Raleway; text-transform: uppercase;
	/*font-family: Playfair Display SC; font-weight: 700;*/ color: #602020;
	font-size: 14px; border: 1px solid #602020; 
	background-color: transparent;
	padding: 5px; padding-left: 30px; padding-right: 30px; 
	/*text-transform: lowercase;*/ position: relative;
	left: 50%; transform: translateX(-50%); }



.TOCtoggle:hover { color: #602020; border-color: #602020;
	background-color: rgba(0,0,0,.65);
	-webkit-transition: all 2s ease-out; }

h1 { display: inline-block; width: 80%;
	border-bottom: solid 1px #602020;
	font-family: Otama-ep; text-transform: uppercase;
	/*font-family: Playfair Display SC;*/ 
	font-size: 34px; color: #602020;
	padding-top: 100px; padding-left: 50px; padding-bottom: 15px; }
/*.dropdown { position: relative; top: 5px; }*/

p { display: inline-block; width: 60%;
	padding-left: 50px; padding-right: 50px; padding-top: 25px; padding-bottom: 30px;
	font-family: Raleway; font-size: 12px; color: #595959;
	line-height: 1.75em; text-shadow: -15px 15px 10px #d9d9d9; }

.shopit { display: none; }
.text h2 { display: inline-block;
	padding-left: 50px; padding-right: 50px; padding-top: 20px;
	font-family: Otama-ep; text-transform: uppercase;
	/*font-family: Playfair Display SC;*/ font-size: 18px;
	/*text-transform: lowercase;*/ color: #602020; }
.options h3 { display: inline-block; 
	padding-left: 50px; padding-right: 2px; padding-top: 15px; padding-bottom: 5px;
	border-bottom: solid 2px grey;
	font-family: Raleway; font-size: 14px;
	text-transform: uppercase; color: #595959; }

.options p { display: block;
	font-size: 10px; line-height: 1.6; font-weight: 500;
	color: #595959;
	padding-top: 15px; padding-bottom: 5px;
	width: 250px;
	text-shadow: none; }





/*============================================JS TRIGGERED THINGS====*/
/*p.open { display: inline-block; }*/
/*p.closed { display: none; }
p.open { display: block; }*/

p.closed { overflow: hidden; /*
	max-height: 1px; -webkit-transition: max-height 2s ease-in 0s; 
	padding-top: 0px; -webkit-transition: padding-top 1s ease-in 2s;
	padding-bottom: 0px; -webkit-transition: padding-bottom 1s ease-in 2s;*/
	max-height: 1px; padding-bottom: 0; padding-top: 0;
	transition-property: max-height, padding-bottom, padding-top;
	transition-duration: 1s, 1s, 1s;
	transition-delay: 0s, 0s, 0s;
	transition-timing-function: cubic-bezier(0.15, 0.29, 1, 1); }

p.open { overflow: hidden;
	max-height: 400px; padding-bottom: 5px; padding-top: 15px;
	transition-property: max-height, padding-bottom, padding-top;
	transition-duration: 5s, 1s, 1s;
	transition-delay: 0s, 0s, 0s;
	transition-timing-function: cubic-bezier(0.15, 0.29, 1, 1); }










.options { padding-top: 0; }
h3.open { font-weight: 700; padding-left: 150px;
	position: relative; left: -100px;
	-webkit-transition: all 1s ease-out; }


h3.closed { font-weight: 500; padding-left: 50px;
	position: relative; left: 0;
	-webkit-transition: all 1s ease-out; }





















/*---------------------------------------------------------------------
-----------------------------------------------------------------------
-------------------------------PAGE ONE--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#first.closed { display: none; }

#first .photo { width: 60vw; height: 90vh; float: left;
	background-image: url(images/jacket.png); }
#first .text { width: 40vw; height: 90vh; float: right; }

#first h1 { position: relative; top: 15%; }
/*#first p { position: absolute; top: 30%; right: 5%; width: 280px; }*/
#first button { margin: 0; top: 50vh; }


/*----------------------------------------------JAVASCRIPT TRIGGERED--------*/
#firt .photo.leather { background-image: url(images/jacket.png); }
#first .photo.canvas { background-image: url(images/canvas.png); }
#first .photo.duck { background-image: url(images/duck.png); }




/*---------------------------------------------------------------------
-----------------------------------------------------------------------
-------------------------------PAGE TWO--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#second.closed { display: none; }
#second .photo { width: 50vw; height: 90vh; float: right;
	background-image: url(images/boots.png); }
#second .text { width: 50vw; height: 90vh; float: left; }

#second button { margin: 0; bottom: 10px; }





/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE THREE-------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#third.closed { display: none; }
#third .photo { width: 100vw; height: 90vh; float: right;
	background-image: url(images/crossbow.png); background-size: cover;
	position: absolute; top: 0; left: 0; }
#third .text { width: 100vw; height: 50vh;
	position: absolute; left: 4px; top: 20px; background-color: transparent;
	z-index: 20; }

#third h1 { position: relative; top: -5%;
	color: white; text-shadow: none; }
#third p { position: relative; left: 5%; float: left;
	color: white; text-shadow: none;
	width: 27vw; }
#third button { margin: 0; right: 30%;
	position: fixed; bottom: 20vh;
	background-color: black; }

#gradienta { position: fixed; top: 0; left: 0; 
	height: 100vh; width: 75vw; z-index: 10;
	background: -webkit-linear-gradient(left, rgba(0,0,0,.8), rgba(0,0,0,0)); }






/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE FOUR--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#fourth.closed { display: none; }
#fourth .photo { width: 100vw; height: 40vh; float: right;
	background-image: url(images/machete.png); }
#fourth .text { width: 100vw; height: 55vh; float: left; left: 4px; top: -20px; }

#fourth h1 { position: relative; padding-bottom: 15px; padding-top: 25px; }
#fourth p { position: relative; padding-top: 20px; width: 80vw; }
#fourth button { margin: 0; position: fixed; bottom: 20vh; }





/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE FIVE--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#fifth.closed { display: none; }
#fifth .photo { width: 70vw; height: 90vh; float: left;
	background-image: url(images/bike.png); }
#fifth .text { width: 30vw; height: 100vh; float: left; left: 4px; top: 20px; }

#fifth h1 { position: relative; top: -5%; padding-bottom: 20px; }
#fifth button { margin: 0; right: 30%;
	position: relative; bottom: -40px;  }





/*---------------------------------------------------------------------
-----------------------------------------------------------------------
-------------------------------PAGE SIX--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#sixth.closed { display: none; }
#sixth .photo { width: 50vw; height: 100vh; float: left;
	background-image: url(images/tent.png); }
#sixth .text { width: 50vw; height: 100vh; float: right; }
#sixth button { margin: 0; top: 0vh; right: 30%; }





/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE SEVEN-------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#seventh.closed { display: none; }
#seventh .photo { width: 60vw; height: 90vh; float: right;
	background-image: url(images/gauze.png); }
#seventh .text { width: 40vw; height: 90vh; float: left; left: 4px; top: 20px; }

#seventh button { margin: 0; top: 0vh; right: 30%; display: none; }






/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE EIGHT-------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#eigth.closed { display: none; }
#eigth .photo { width: 60vw; height: 90vh; float: right;
	background-image: url(images/lifestraw.png); }
#eigth .text { width: 40vw; height: 90vh; float: left; left: 4px; top: 20px; }

#eigth button { margin: 0; top: 0vh; right: 30%; display: none; }








/*---------------------------------------------------------------------
-----------------------------------------------------------------------
------------------------------PAGE NINE--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#ninth.closed { display: none; }
#ninth .photo { width: 60vw; height: 90vh; float: left;
	background-image: url(images/beef-jerky.png); }
#ninth .text { width: 40vw; height: 90vh; float: right; left: 4px; top: 20px; }

#ninth button { margin: 0; top: 0vh; right: 30%; }
#ninth .photo.fruit { background-image: url(images/dried-fruit.png); }
#ninth .photo.granola { background-image: url(images/granola.png); }








/*---------------------------------------------------------------------
-----------------------------------------------------------------------
-------------------------------PAGE TEN--------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#tenth.closed { display: none; }
#tenth .photo { width: 60vw; height: 90vh; float: right;
	background-image: url(images/solar.png); }
#tenth .text { width: 40vw; height: 90vh; float: left; left: 4px; top: 20px; }

#tenth button { margin: 0; top: 0vh; right: 30%; display: none; }







/*---------------------------------------------------------------------
-----------------------------------------------------------------------
--------------------------------NAVBAR---------------------------------
-----------------------------------------------------------------------
---------------------------------------------------------------------*/
#navbar { width: 100vw; height: 10vh;
	position: absolute; bottom: 0; left: 0;
	background-color: orange;
	z-index: 40; }


.tables li { width: 10vw; height: 100%; float: left;
	background-size: cover; background-color: pink;
	background-position: 50% 50%; overflow: hidden; position: relative; }

.tables li:hover { z-index: 4; -webkit-animation: photozoomin 2.5s ease-out 1;
	-webkit-animation-fill-mode: forwards; }



.tables li:nth-child(1) { 
	background-image: url(images/TOC-01.jpg); }
.tables li:nth-child(2) { 
	background-image: url(images/TOC-02.jpg); }
.tables li:nth-child(3) { 
	background-image: url(images/TOC-03.jpg); }
.tables li:nth-child(4) { 
	background-image: url(images/TOC-04.jpg); }
.tables li:nth-child(5) { 
	background-image: url(images/TOC-05.jpg); }
.tables li:nth-child(6) { 
	background-image: url(images/TOC-06.jpg); }
.tables li:nth-child(7) { 
	background-image: url(images/TOC-07.png); }
.tables li:nth-child(8) { 
	background-image: url(images/TOC-08.jpg); }
.tables li:nth-child(9) { 
	background-image: url(images/TOC-09.jpg); }
.tables li:nth-child(10) { 
	background-image: url(images/TOC-10.jpg); }

.number { position: relative; height: 8vh; padding: 45%;
	top: -25px;
	left: 50%; transform: translateX(-50%);
	background-color: rgba(102, 0, 0,0);
	-webkit-transition: background-color 1.5s ease-out; }

.number:hover { background-color: rgba(102,0,0,.25);
	-webkit-transition: background-color 1.5s ease-out; }
.number:active { background-color: rgba(102,0,0,.25); }


/*=====================================================================================*/
