/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* Add Styles Here */

body { overflow: hidden; }





#trigger { opacity: 0; width: 100px; height: 100px; }

#dacat { position: absolute; left: 20px; bottom: -100vh; 
	-webkit-transition: all 2s ease-out;
	-webkit-transition-delay: .5s; }

#head { width:260px; height:260px; position:relative; border-radius:50%; background-color: #4e4b4b; 
		margin:10px; }


#eyeballs { position:relative; top: 55px; padding:13px; }
.lefti { width: 44px; height: 44px; background-color: black; border-radius:50%; border: 27px solid #cccc00; float:left; }
.righti { width: 44px; height: 44px; background-color: black; border-radius:50%; border: 27px solid #cccc00; float:right; }
.glimmer { clear: both;
	width: 20px; height: 20px; 
	background-color: white; border-radius:50%; 
	position: relative; left: -8x; top: -4px; }


#nose { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent;
	border-top: 18px solid #aa4444; 
	position: relative; top: 135px; left: 110px; }



#whiskers { position: relative; top: 63px; }
.leftwisks { position: relative; left: 8px; float: left; }
.rightwisks { position: relative; right: 8px; float: right; }
.whisk { clear:both; width: 40px; width: 70px; height: 6px; margin: 4px;
	border-radius: 3px; /*border-top: 7px solid white;*/ 
	background-color: #dcdcdc; }
.leftwisks .whisk.top { transform: rotate(10deg); position: relative; top: -7px; }
.rightwisks .whisk.top { transform: rotate(-10deg); position: relative; top: -7px; }
.leftwisks .whisk.middle { width: 75px; position: relative; left: -5px; }
.rightwisks .whisk.middle { width: 75px; }
.leftwisks .whisk.bottom { transform: rotate(-10deg); position: relative; top: 7px; }
.rightwisks .whisk.bottom { transform: rotate(10deg); position: relative; top: 7px; }



.down { width: 2px; height: 11px; background-color: black;
	position: relative; top: 134px; left: 129px; }
.trileft { width: 20px; height: 2px; background-color: black;
	position: relative; top: 137px; left: 111px;
	transform: rotate(-30deg); }

.triright { width: 20px; height: 2px; background-color: black;
	position: relative; top: 135px; left: 128px;
	transform: rotate(30deg); }	


#ears {  }
.ear.left { width: 0; height: 0; 
	border-left: 140px solid transparent; border-right: 0px solid transparent; border-top: 80px solid #4e4b4b; 
	position: relative; top: -50px; left: 10px; z-index: -1;
	transform: rotate(180deg); }
.ear.right { width: 0; height: 0; 
	border-left: 0px solid transparent; border-right: 140px solid transparent; border-top: 80px solid #4e4b4b; 
	position: relative; top: -130px; left: 110px; z-index: -1;
	transform: rotate(180deg); }


#loon { width: 0; height: 0; 
	border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 30px solid #4e4b4b;
	position: relative; left: 100px; top: -50px; }



#raining { width: 100vw; height: 90vh; position: absolute; top: -100vh; left: 0px; 
	-webkit-animation: slide 20s linear infinite; z-index: -3; }
#raining2 { width: 100vw; height: 90vh; position: absolute; top: -200vh; left: 0px; 
	-webkit-animation: slide 20s linear infinite; z-index: -3; }	
.donut { width: 60px; height: 60px; }
.donut.one { position: absolute; top: 20vh; left: 36vw; }
.donut.two { position: absolute; top: 7vh; left: 80vw; }
.donut.three { position: absolute; top: 24vh; left: 5vw; }
.donut.four { position: absolute; top: 13vh; left: 61vw; }
.donut.five { position: absolute; top: 33vh; left: 48vw; }
.donut.six { position: absolute; top: 68vh; left: 12vw; }
.donut.seven { position: absolute; top: 5vh; left: 16vw; }
.donut.eight { position: absolute; top: 80vh; left: 28vw; }
.donut.nine { position: absolute; top: 35vh; left: 80vw; }
.donut.ten { position: absolute; top: 62vh; left: 50vw; }
.donut.eleven { position: absolute; top: 50vh; left: 20vw; }
.donut.twelve { position: absolute; top: 70vh; left: 76vw; }
.donut.thirteen { position: absolute; top: 50vh; left: 66vw; }






/*------------words and misc-----------------*/

#birthday { opacity: 0; color: black; width: 400px;
	font-size: 50px; font-family: 'Ubuntu', helvetica; font-weight: bold;
	display: block; margin-left: auto; margin-right: auto; 
	position: relative; top: 30vh; text-align: center; }


#instruct { opacity: 100; color: lightgrey; width: 400px;
	font-size: 18px; font-family: 'Ubuntu', helvetica;
	display: block; margin-left: auto; margin-right: auto; 
	position: relative; top: 10vh; text-align: center; }

#cover { background-color: white; position: absolute; top: 0; left: 0;
	width: 100vw; height: 100vh; z-index: -2; }





















/*-----------------------------------------------------------------------
-------------------------BALLOOOOONNNN ANIMATION-------------------------
-----------------------------------------------------------------------*/
#dacat.riseup { bottom: 10px; }

#birthday.fade-in { 
	opacity:100;
	transition: opacity 1s ease .5s;
	transition-delay: 13s; }

#instruct.fade-out { opacity: 0; transition: opacity .5s ease; }





#head.balooned { width:220px; height:260px; position:relative; 
	border-radius:80%; background-color: #4e4b4b; margin:10px; 
	box-shadow:inset 20px 7px 25px #343232;
	transition: all 1s; }


.lefti.widened { width: 56px; height: 56px;
	border-radius:50%; border: 15px solid #cccc00;
	transition: all 1s; }
.righti.widened { width: 56px; height: 56px;
	border-radius:50%; border: 15px solid #cccc00;
	transition: all 1s; }
.glimmer.widened { width: 26px; height: 26px; 
	transition: all 1s; }


#nose.move { border-left: 18px solid transparent; border-right: 18px solid transparent;
	border-top: 16px solid #aa4444; 
	position: relative; left: 93px;
	transition: all 1s; }


.ear.left.dissapear { width: 0; height: 0; 
	border-left: 0px solid transparent; border-right: 0px solid transparent; border-top: 0px solid #4e4b4b; 
	position: relative; top: 90px; left: 10px; z-index: -1;
	transition: all 1.5s; }
.ear.right.dissapear { width: 0; height: 0; 
	border-left: 0px solid transparent; border-right: 0px solid transparent; border-top: 0px solid #4e4b4b;
	top: 30px; left: 110px; z-index: -1;
	transition: all 1.5s; }


.down.moveit { top: 134px; left: 110px;
	transition: all 1s; }
.trileft.moveit { top: 137px; left: 93px;
	transition: all 1s; }
.triright.moveit { top: 135px; left: 109px;
	transition: all 1s; }


#loon.descend { top: -25px; transition: all 1s; }	







#dacat.flyaway { -webkit-transform-origin: bottom center; -webkit-animation:balloon1 12s ease-in-out;
	-webkit-animation-fill-mode: forwards; }

@-webkit-keyframes balloon1 {
	-webkit-animation-name: balloon1;
 	-webkit-animation-iteration-count: 1;
 	-webkit-animation-fill-mode: forwards;
	0%{ -webkit-transform:translateY(0) translateX(0) rotate(-6deg);}
	15%{ -webkit-transform:translateY(-15vh) translateX(90px) rotate(9deg); }
	30%{ -webkit-transform:translateY(-30vh) translateX(320px) rotate(-8deg); }
	45%{ -webkit-transform:translateY(-45vh) translateX(190px) rotate(13deg); }
	60%{ -webkit-transform:translateY(-60vh) translateX(500px) rotate(-8deg); }
	75%{ -webkit-transform:translateY(-75vh) translateX(450px) rotate(10deg); }
	90%{ -webkit-transform:translateY(-90vh) translateX(850px) rotate(-8deg); }
	100%{ -webkit-transform:translateY(-100vh) translateX(670px) rotate(11deg); }

}









#raining.makeitrain { -webkit-animation:rainin 10s linear infinite; }
#raining2.makeitrain { -webkit-animation:rainin2 10s linear infinite; -webkit-animation-delay: 5s; }
@-webkit-keyframes rainin {

	0%{ top: -100vh;}
	100%{ top: 100vh; }
}
@-webkit-keyframes rainin2 {

	0%{ top: -100vh;}
	100%{ top: 100vh; }
}


#cover.goaway { top: 0; left: 0;
	-webkit-animation:leave 5s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 15s; }
@-webkit-keyframes leave {
	-webkit-animation-iteration-count: 1;
 	-webkit-animation-fill-mode: forwards;
	0%{ top: 0vh;}
	100%{ top: 100vh; }
}


/*AHHHAHAHAAAA ITS ALIVEEEEEEEE EXCEPT FOR THE PART WHERE I WAS GOING TO TRIGGER SOUND FUCK THAT SHIT THIS ALREADY TOOK WAYYY TOO LONG
IT IS THE HOUR IN WHICH I SHOULD ABSOLUTELY BE SLEEPING. 
IF EVAN READS THIS.... HAPPY BIRTHDAY KID. I HOPE YOU AND YOUR CAT HAVE A FANTASTIC DAY*/