/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* Add Styles Here */










html { min-height:100%;
	background: -webkit-linear-gradient(#574d94, #1b1835); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#574d94, #1b1835); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#574d94, #1b1835); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#574d94, #1b1835); /* Standard syntax */
	font-family:Open Sans;
	overflow-y:scroll; }


#filter-bar-wrapper { padding-top:20px; height: 5f0px; }
#topnav { width:80%; }

#button-flter {
	color: #70ced0; background-color: transparent; border:none;
	font-size: 25px; float: right; z-index: 99;
	position: absolute; right: 20%; }
#button-menu {
	color: #70ced0; background-color: transparent; border:none;
	font-size: 25px; float:left; position: absolute; left: 20px; }
#search {
	background-color: #c0d4d3; border:none;
	padding: 6px; height: 15px; width: 160px; 
	float: right;
	position: absolute; right: 20px; }
#button-search {
	color: #3b8e9c; background-color: transparent; border:none;
	font-size: 25px; clear: both; 
	position: absolute; right: 25px; }


#filter-bar { clear:both; display: none; }




.pushitdown { position: absolute; top: 50px; }
#filtermenu { width: 25%; height: 100%;
	position: fixed; top: 0; right: -25%; z-index: 90;
	background: -webkit-linear-gradient(#296b79, #0e3039); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#296b79, #0e3039); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#296b79, #0e3039); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#296b79, #0e3039); /* Standard syntax */ }
#filtermenu h1 { color: #c0d4d3; font-size: 15px;
	width: 40px; padding: 6px; height: 15px; padding-left:20px; 
	margin: 0; float: left; font-weight: 300; 
	margin-top: 15px; }
#cast { color: #c0d4d3; font-size: 12px;
	background-color: #3b8e9c; border:none;
	padding: 6px; height: 15px; width: 160px; 
	float: right; margin-top: 15px; margin-right: 20px; }
#director { color: #c0d4d3; font-size: 12px;
	background-color: #3b8e9c; border:none;
	padding: 6px; height: 15px; width: 160px; 
	float: right; margin-top: 15px; margin-right: 20px; }
#writer { color: #c0d4d3; font-size: 12px;
	background-color: #3b8e9c; border:none;
	padding: 6px; height: 15px; width: 160px; 
	float: right; margin-top: 15px; margin-right: 20px; }
button.rating {
	color: #1c626c; font-size: 16px; 
	background-color: #3b8e9c; border:none;
	height: 27px; width: 172px; 
	float: right; margin-top: 5px; margin-right: 20px; }
button.five { margin-top: 15px; }




button.rating.selected {
	color: #c0d4d3; }




#filtermenu.open { right: 0; } 




#genre { color: #c0d4d3; font-size: 12px;
	background-color: #3b8e9c; border:none;
	padding: 6px; height: 15px; width: 83%; height: 95px; 
	float: right; margin-top: 5px; margin-right: 20px; }
#genre button { color: #c0d4d3; font-size: 15px; font-weight: 300;
	background-color: transparent; width:auto; margin: 2px;
	padding: 3px; padding-left: 7px;  padding-bottom: 5px;
	float:left; padding-right: 7px; border: 0; }
#genre.selected button { color: #c0d4d3; font-size: 15px; font-weight: 300;
	background-color: #1c626c; width:auto; margin: 2px;
	padding: 3px; padding-left: 7px;  padding-bottom: 5px;
	float:left; padding-right: 7px; border: 0;  }




.collection { width:100%;
	position: absoulte; top: 50px; }
.collection div { width:25%; padding:0; margin:0; }	
h2.name { padding:10px;
	color: #d2ccf8; }
.banner { width:100%; 
	position:absolute;
	left:0; top:0; }	
.collection .cropit { width:100%; height:0;
	position:relative; overflow:hidden; 
	padding-top: 55%; }















	

	
.modal img { height:70vh; float:left; }
.modalwords { height:60vh; float:left;
	padding-top:5vh; padding-left:20px; }
h1 { font-size: 30px; font-weight: 600;
	color: #1b1835;
	padding-left:20px; clear:both; }
.modalwords h1 {display:inline; }
.title { padding:0; }
.year {font-weight: 300; font-style: italic; 
	padding-left:15px; }
.dur { color: #1b1835; display:inline; padding-left: 20px;
	font-weight: 400; font-style:italic; }
.tag { color: #1b1835; 
	padding-top: 10px; padding-bottom: 15px;  
	font-weight:600; }
.modal { width:100%; height:70vh; 
	background-color: #d2ccf8; 
	padding:0px; margin:0px; 
	position:absolute;
	top:15vh; overflow:hidden;
	display:none; }
	
.description { padding:20px; width: 500px; }




	










