

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */



/*

html {height: 100%; overflow: hidden;}

body { 
  margin:0; padding:0;
	perspective: 3px;
	transform-style: preserve-3d;
  height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  font-family: Delius; }
*/

body {
	font-family: Delius; }

/*
.slide { position: relative; padding: 25vh 10%; width: 100vw; 
box-sizing: border-box; transform-style: inherit;}
*/




/*MINE*/

#top {
background-color: #f8d788;
background-attachment: fixed;
}

img {width: 50%;
	position:relative; }

h1 {font-family:Delius Unicase; font-weight:bold; padding-top:20px; line-height:1.4em; padding:5%; padding-left:10%; padding-bottom:5px;}

p {font-family:Delius; padding-top:20px; line-height:1.4em; padding:0%; width:40%; float:right; padding-right:5%; }



#one { background-color:#f8d788; height:300vh; }

#one .innards { width:100%;
	opacity:0;
	position:fixed;
	top:10px;
	z-index:2; }

.empty { 
	clear:both; position:relative;
	top:120vh;
	background-color:red; height:20px;
	width: 50%; 
	left:30%; 
	margin:0px; 
	margin-bottom:200vh; }

h2 { font-size: 50px;
	position: absolute;
	top:50%; left:50%; 
	transform: translate(-50%, -50%); 
	padding:20px; 
	opacity:0; }
#one p { padding-top: 30%; }
#one img {width: 45%;
	padding-top:5%;}



#two { display:block; }








.fade-in { 
	opacity:100;
	transition: opacity .5s ease .25s; }
.fade-out { 
	opacity:0;
	transition: opacity .5s ease .25s; }



/*
#two {background-image: url("images/2.png"); background-attachment: fixed; background-color:#a2e8ee; background-repeat: no-repeat; }
#deux {}
#three {background-image: url("images/3.png"); background-attachment: fixed; background-color:#49a53d; background-repeat: no-repeat; }
#trois {}
#four {background-image: url("images/4.png"); background-attachment: fixed; background-color:#6b6969; background-repeat: no-repeat; } 
#quatre {font-family:Delius Swash Caps; }
#five {background-image: url("images/5.png"); background-attachment: fixed; background-color:#f9e2a4; background-repeat: no-repeat; }
#cinq {}
#six {background-image: url("images/6.png"); background-attachment: fixed; background-color:#91b2d6; background-repeat: no-repeat; }
#sixx {}
#seven {background-image: url("images/7.png"); background-attachment: fixed; background-color:#9b476b; background-repeat: no-repeat; color:white; }
#sept {}
#eight {background-image: url("images/8.png"); background-attachment: fixed; background-color:#62c9ef; background-repeat: no-repeat; }
#huit {}
#nine {background-image: url("images/9.png"); background-attachment: fixed; background-color:#000034; background-repeat: no-repeat; color:white; }
#neuf {}
#ten {background-image: url("images/10.png"); background-attachment: fixed; background-color:#CABFB6; background-repeat: no-repeat; }
#dix {}

#end {background-image: url("images/gabbanager.png"); background-attachment: fixed; background-color:#3d8f8d; background-repeat: no-repeat; }
#fin {}
*/















