

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */












body { width:100vw; height:100vh; overflow:hidden; }

.nope { width:105%;
	overflow:hidden; }

.nope h1 { color: white;
	text-align:center;
	font-family:Oswald;
	font-size:40px; 
	z-index:44; 
	position: absolute;
	top:50%; left:50%; 
	transform: translate(-50%, -50%); }
	
.nope img { width:100%;
	position:absolute;
	top:0px;
	z-index:-1; }
	
	
	
	
	
#second h1 { color: yellow; 
	font-weight: bold;
	position: absolute;
	top:10%; left:50%; 
	transform: translate(-50%, -50%); }

#second img { height:100%; }









.stupid { width=105%;
	overflow:hidden; }

.stupid h1 { color: white;
	text-align:center;
	font-family:Oswald;
	font-size:40px; 
	z-index:44; 
	position: absolute;
	top:20%; left:50%; 
	transform: translate(-50%, -50%); }
	
.stupid img { width:100%;
	position:absolute;
	top:0px;
	z-index:-1; }



.gone { display:none; }
	
.omgfungifs { display:none; }




.nullll img { height:100vh; 
	z-index:-1;
	position:relative;
	left:-350px; }
#willsmith { width:100vw;
	height:100vh; 
	overflow:hidden; }
.nullll h1 { color: red; 
	font-size: 50px;
	font-family:oswald;
	position: absolute;
	bottom:40px; left:50%; 
	transform: translate(-50%, -50%); 
	z-index:99; }




.emptyness img { height:100vh; 
	z-index:-1;
	position:relative;
	left:-150px; }
#empty { width:100vw;
	height:100vh; 
	overflow:hidden; }
.emptyness h1 { color: white; 
	font-size: 40px;
	width:70vw;
	font-family:oswald;
	position: absolute;
	bottom:40px; left:50%; 
	transform: translate(-50%, -50%); 
	z-index:99; }